$color-signal: #037DE4;
$color-success: #4DD171;
$color-warning: #fe4f3e;
$color-light: #c1c7cd;
$color-muted: #f7f9fa;

$size: 50px;
$gap: 10px;
$borderRadius: 3px;

$primary: hsla(240, 33, 29, 1);
$secondary: white;